<section class="m-landing m-landing__footer" [hidden]="isFooter">
	<div class="container">
		<div class="m-landing__footer-row">
			<p class="m-landing__footer-disclaimer">Los datos aquí mostrados se actualizan continuamente, por lo que recomendamos verificar la metodología y las bases de datos disponibles en la sección de descargas</p>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-12-24">
					<div class="m-landing__footer-column">
						Elaborado por el Instituto de Políticas para el Transporte y el Desarrollo México bajo el auspicio de la Embajada Británica en México y Fondo de Prosperidad.
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-12-24">
					<div class="m-landing__footer-column">
						Los puntos de vista expresados en este estudio no necesariamente reflejan los del Gobierno Británico, la Embajada Británica en México o cualquier otra institución relacionada.
					</div>
				</div>
			</div>
		</div>
		<div class="m-landing__footer-row">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-11-24 pure-u-md-8-24">
					<ul class="m-landing__footer-row__logos">
						<li><img src="../assets/images/logo_embajada_britanica_original.png" alt="Logo Embajada Británica"></li>
						<li><img src="../assets/images/logo_itdp_mexico_original.png" alt="Logo ITDP México"></li>
					</ul>
				</div>
				<div class="pure-u-1 pure-u-sm-13-24 pure-u-md-16-24 color-gray-dark" style="font-size: 12px;font-weight: 500;">
					<div class="creative-commons">
						<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licencia Creative Commons" style="border-width:0;" class="cc-logo" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" class="color-gray-smooth">Licencia Creative Commons Atribución-NoComercial-SinDerivar 4.0 Internacional</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>