<section class="m-downloads">
	<div class="container">
		<h2 class="m-big-title color-gray-smooth">Reportes, Bases de datos y Anexos</h2>
		<p class="m-paragraph m-paragraph--in-downloads">Con fines de transparencia sobre las cifras y cálculos aquí presentados se pone a disposición del público la metodología de cálculo, las bases de datos utilizadas y el reporte de resultados. Cabe señalar que se actualizó la metodología de construcción de las cifras y se uniformaron los cálculos para todos los años, por lo que sugerimos utilizar únicamente el reporte 2015  y las bases de datos aquí presentados como referencia.</p>
		<div class="m-downloads__section">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-12-24 pure-u-md-8-24 pure-u-lg-8-24 m-downloads__section-selector">
					<h3 class="m-medium-title">Metodología</h3>
					<a href="./downloads/Metodologia_Invertir_para_Movernos-2015.pdf" class="m-downloads__card" download>
						<div class="m-downloads__card">
							<div class="m-downloads__card-inner">
								<div class="m-downloads__card-inner__content">
									<span class="m-downloads__card-inner__content-icon"><i class="ipm-download"></i></span>
									<p class="m-downloads__card-inner__content-name">Metodología Invertir para movernos 2015</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="m-downloads__section">
			<h3 class="m-medium-title">Infografía</h3>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-12-24 pure-u-md-8-24 pure-u-lg-8-24 m-downloads__section-selector">
					<a href="./downloads/Infografia_Invertir_para_Movernos-2015.pdf" class="m-downloads__card" download>
						<div class="m-downloads__card">
							<div class="m-downloads__card-inner">
								<div class="m-downloads__card-inner__content">
									<span class="m-downloads__card-inner__content-icon"><i class="ipm-download"></i></span>
									<p class="m-downloads__card-inner__content-name">Infografía 2015</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="m-downloads__section">
			<h3 class="m-medium-title">Reporte "Invertir para movernos"</h3>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-12-24 pure-u-md-8-24 pure-u-lg-8-24 m-downloads__section-selector">
					<a href="./downloads/Invertir_para_Movernos-2015.pdf" class="m-downloads__card" download>
						<div class="m-downloads__card">
							<div class="m-downloads__card-inner">
								<div class="m-downloads__card-inner__content">
									<span class="m-downloads__card-inner__content-icon"><i class="ipm-download"></i></span>
									<p class="m-downloads__card-inner__content-name">Reporte 2015</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="pure-u-1 pure-u-sm-12-24 pure-u-md-8-24 pure-u-lg-8-24 m-downloads__section-selector">
					<a href="./downloads/Investing_for_Mobility-2015.pdf" class="m-downloads__card" download>
						<div class="m-downloads__card">
							<div class="m-downloads__card-inner">
								<div class="m-downloads__card-inner__content">
									<span class="m-downloads__card-inner__content-icon"><i class="ipm-download"></i></span>
									<p class="m-downloads__card-inner__content-name">Report 2015</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="m-downloads__section">
			<h3 class="m-medium-title">Bases de datos</h3>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-12-24 pure-u-md-8-24 pure-u-lg-8-24 m-downloads__section-selector">
					<a href="./downloads/Base_de_Datos_2001-2015/2011.csv" class="m-downloads__card" download>
						<div class="m-downloads__card">
							<div class="m-downloads__card-inner">
								<div class="m-downloads__card-inner__content">
									<span class="m-downloads__card-inner__content-icon"><i class="ipm-download"></i></span>
									<p class="m-downloads__card-inner__content-name">Base de datos 2011</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="pure-u-1 pure-u-sm-12-24 pure-u-md-8-24 pure-u-lg-8-24 m-downloads__section-selector">
					<a href="./downloads/Base_de_Datos_2001-2015/2012.csv" class="m-downloads__card" download>
						<div class="m-downloads__card">
							<div class="m-downloads__card-inner">
								<div class="m-downloads__card-inner__content">
									<span class="m-downloads__card-inner__content-icon"><i class="ipm-download"></i></span>
									<p class="m-downloads__card-inner__content-name">Base de datos 2012</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="pure-u-1 pure-u-sm-12-24 pure-u-md-8-24 pure-u-lg-8-24 m-downloads__section-selector">
					<a href="./downloads/Base_de_Datos_2001-2015/2013.csv" class="m-downloads__card" download>
						<div class="m-downloads__card">
							<div class="m-downloads__card-inner">
								<div class="m-downloads__card-inner__content">
									<span class="m-downloads__card-inner__content-icon"><i class="ipm-download"></i></span>
									<p class="m-downloads__card-inner__content-name">Base de datos 2013</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="pure-u-1 pure-u-sm-12-24 pure-u-md-8-24 pure-u-lg-8-24 m-downloads__section-selector">
					<a href="./downloads/Base_de_Datos_2001-2015/2014.csv" class="m-downloads__card" download>
						<div class="m-downloads__card">
							<div class="m-downloads__card-inner">
								<div class="m-downloads__card-inner__content">
									<span class="m-downloads__card-inner__content-icon"><i class="ipm-download"></i></span>
									<p class="m-downloads__card-inner__content-name">Base de datos 2014</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="pure-u-1 pure-u-sm-12-24 pure-u-md-8-24 pure-u-lg-8-24 m-downloads__section-selector">
					<a href="./downloads/Base_de_Datos_2001-2015/2015.csv" class="m-downloads__card" download>
						<div class="m-downloads__card">
							<div class="m-downloads__card-inner">
								<div class="m-downloads__card-inner__content">
									<span class="m-downloads__card-inner__content-icon"><i class="ipm-download"></i></span>
									<p class="m-downloads__card-inner__content-name">Base de datos 2015</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>